SUPABASE_URL=https://icslskmuuevowzglymnh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imljc2xza211dWV2b3d6Z2x5bW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxODYwMjYsImV4cCI6MjA5MDc2MjAyNn0.3M5l_qfQ2k9hcky2reF6c47pWRaIVAe8Ja7oYORNYrQ
