# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IntelliJ / Android Studio / VS Code
.idea/
*.iml
.vscode/

# Android
/android/app/debug
/android/app/profile
/android/app/release

# Environment files
.env
.env.local
.env.*
!.env.example

.flutter-plugins-dependencies
